/* App */
.app {
  width: 100%;
}

.header {
  width: 100%;
  margin-bottom: 2rem;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

.nav-title {
  font-size: 1.875rem;
  padding-left: 1.3rem;
  color: purple;
}

.nav-links {
  display: inline-flex;
  align-items: center;
}

.nav-link {
  color: blue;
}

.nav-link:nth-child(1) {
  padding-right: 1rem;
}

.nav-link:nth-child(2) {
  padding: 0 1rem;
  border-left: 1px solid #000;
}

.nav-link:nth-child(3) {
  padding: 0 1rem;
  border-left: 1px solid #000;
}

.nav-link:nth-child(4) {
  padding-left: 1rem;
  border-left: 1px solid #000;
}

.nav-link:hover {
  color: black;
}

.nav-link:active {
  text-decoration: underline;
}

.logo-group {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
}

.logo-pic {
  width: 100%;
}

/* Main */
.main {
  width: 100%;
}

/* Rockets */
.rocket {
  display: flex;
  margin-bottom: 2.2rem;
}

.rocket-img {
  width: 200px;
}

.rocket-info {
  padding-left: 2rem;
}

.rocket-name {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.rocket-description {
  padding-bottom: 0.5rem;
  line-height: 20px;
}

.rocket-reserve-button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(91, 91, 192);
  color: white;
}

.active {
  text-decoration: underline;
}

.rocket-reserve-button-true {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid grey;
  color: initial;
}

.reserved-label {
  color: white;
  background-color: rgb(24, 75, 75);
  font-size: 0.875rem;
  padding: 0.2rem;
  border-radius: 5px;
  margin-right: 1rem;
}

/* Missions */
.missionsContainer {
  margin: 10px 50px;
}

.alternative {
  background-color: var(--app_gray_container);
}

.missionRow > .alternative {
  display: flex;
  width: 100%;
}

.missionRow > .normal {
  display: flex;
  width: 100%;
}

.missionHeader {
  display: flex;
  font-weight: bold;
}

.mission {
  width: 13%;
  font-weight: bold;
}

.missionDescription {
  width: 61%;
}

.missionStatus {
  width: 13%;
}

.cell {
  border: 1px solid var(--app_gray_border);
  padding: 5px;
}

/* My Profile */
.profileSection {
  margin: 10px 50px;
}

.profileContainer {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
}

.profileContainer > p {
  font-weight: bold;
}
